body {
    font-family: "Tahoma", sans-serif;
    background: #5874b4;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: white;
    padding: 20px;
    text-align: center;
}

.courses {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.header-image-container img {
  width: 100%;
  height: 200px;
 object-fit: cover;
display: block;
}

.course-card {
    flex: 1;
    max-width:300px;
    background: linear-gradient(145deg, #1e293b,#506fb6);
    
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.course-card img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: linear-gradient(90deg, #22c55e, #06b6d4);
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
    border-radius: 5px;
}

.course-details {
    display: flex;
    gap: 30px;
    padding: 40px;
    justify-content: center;
}

.course-details video {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.info {
    max-width: 400px;
}